:root{
    --text-color:#DBE4EF;
    --card-front-color:#144480;
    --cart-back-color:#00F4BF;

}

    body{
        font-family:Bai jamjuree;
    }

    #container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 4rem;
gap: 3rem;

    }
.cartao{
margin: 1rem 1rem;
height: 20rem;
flex-basis: calc(33%-6rem);

}

.cartao__conteudo{
text-align: center;
background-color: var(--cart-back-color);
height: 100%;
transform-style: preserve-3d;
transition: 300ms ease-in-out;
}
